@page "/"
@using D20Tek.LowDb
@inject TaskRepository _service;

<PageTitle>Tasks - Home</PageTitle>

<h1>My Tasks</h1>

<table class="col-6">
<thead>
    <tr>
        <td class="col-5">Task</td>
        <td class="col-1">Complete?</td>
    </tr>
</thead>
<tbody>
@foreach(var task in _tasks)
{
    <tr>
        <td class="col-10">
            @task.Name
        </td>
        <td class="col-2">
            @(task.IsCompleted ? "Yes" : "No")
        </td>
    </tr>
}
</tbody>
</table>

@code{
    TaskEntity[] _tasks = [];

    protected override void OnInitialized()
    {
        _tasks = _service.GetTasks();
    }
}