@page "/"
@using D20Tek.LowDb
@inject TaskRepository _service;

<PageTitle>Tasks - Home</PageTitle>

<h2>My Tasks</h2>

<div class="btn-group" role="group" aria-label="Operation buttons">
    <button type="button" class="btn btn-primary" @onclick="OnCreate">New Task</button>
    <button type="button" class="btn btn-primary" @onclick="OnUpdate">Edit</button>
    <button type="button" class="btn btn-primary" @onclick="OnDelete">Delete</button>
</div>

<div class="row">
    <div class="col-12 col-md-6 ms-0">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-1 text-center">Id</th>
                <th class="col-9">Task</th>
                <th class="col-2 text-center">Done?</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var task in _tasks)
        {
            <tr>
                <td class="text-center">@task.Id</td>
                <td>@task.Name</td>
                <td class="text-center">@(task.IsCompleted ? "Yes" : "No")</td>
            </tr>
        }
        </tbody>
    </table>
    </div>

@if (showCreateComp is true)
{
    <div class="col-12 col-md-6">
        <CreateTaskComponent />
    </div>
}
</div>

@code{
    TaskEntity[] _tasks = [];
    bool showCreateComp = false;
    bool showEditComp = false;
    bool showDeleteComp = false;
    TaskEntity? _selectedTask = null;

    protected override void OnInitialized()
    {
        _tasks = _service.GetTasks();
    }

    private void OnCreate()
    {
        showCreateComp = true;
        showEditComp = false;
        showDeleteComp = false;
    }

    private void OnUpdate()
    {
        showCreateComp = false;
        showEditComp = true;
        showDeleteComp = false;
    }

    private void OnDelete()
    {
        showCreateComp = false;
        showEditComp = false;
        showDeleteComp = true;
    }
}