@page "/"
@using D20Tek.LowDb
@inject LowDb<TasksDocument> _db;

<PageTitle>Tasks - Home</PageTitle>

<h1>My Tasks</h1>

You have @taskCount task(s).

@code{
    int taskCount = 0;

    protected override void OnInitialized()
    {
        var tasks = _db.Get().Tasks;
        taskCount = tasks.Count();

        _db.Update(doc =>
        {
            doc.LastId = doc.GetNextId();
            doc.Tasks.Add(new TaskEntity { Id = doc.LastId, Name = "test task" });
        });
    }
}