@page "/"
@using D20Tek.LowDb
@inject TaskRepository _service;

<PageTitle>Tasks - Home</PageTitle>

<h2>My Tasks</h2>

<div class="col mb-2">
    <button type="button" class="btn btn-primary" @onclick="OnCreate">New Task</button>
</div>

<div class="row">
    <div class="col-12 col-md-6 ms-0">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-2 text-center">Actions</th>
                <th class="col-8">Task</th>
                <th class="col-2 text-center">Done?</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var task in _tasks)
        {
            <tr>
                <td class="text-center">
                    <button class="btn btn-sm" @onclick=@(() => OnUpdate(task))>E</button>
                    <button class="btn btn-sm" @onclick=@(() => OnDelete(task))>D</button>
                </td>
                <td>@task.Name</td>
                <td class="text-center">@(task.IsCompleted ? "Yes" : "No")</td>
            </tr>
        }
        </tbody>
    </table>
    </div>

    <div class="col-12 col-md-6">
        @GetSelectedComponent()
    </div>
</div>

@code{
    private RenderFragment RenderCreate() => @<CreateTaskComponent TasksUpdated=OnTasksUpdated />;

    private RenderFragment RenderEdit() => @<EditTaskComponent Task=_selectedTask TasksUpdated=OnTasksUpdated />;

    private RenderFragment RenderDelete() => @<DeleteTaskComponent Task=_selectedTask TasksUpdated=OnTasksUpdated />;
}